{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block head %}
<title>{{sysSettings.siteName}} - Reset Password</title>
{% endblock %}

{% block body %}
{% include "security/_messages.html" %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card my-5 shadow text-left">

                    <h5 class="card-header text-white bg-dark mb-3">
                       Send Password Reset Instructions
                    </h5>
                    <div class="card-body">
                        <div>
                            <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
                              {{ forgot_password_form.hidden_tag() }}
                              <b><i class="far fa-envelope"></i> Email Address</b><br>
                              {{ render_field(forgot_password_form.email, class_="form-control") }}
                              {{ render_field(forgot_password_form.submit, class_="btn btn-primary") }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}