{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block head %}
<title>{{sysSettings.siteName}} - Login</title>
{% endblock %}

{% block body %}
{% include "security/_messages.html" %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card my-5 shadow text-left">
                    <h5 class="card-header text-white bg-dark mb-3">
                        Login
                    </h5>
                    <div class="card-body text-left">
                        <div>
                        {%- with messages = get_flashed_messages(with_categories=true) -%}
                          {% if messages %}
                            <ul class="flashes">
                            {% for category, message in messages %}
                              <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                            </ul>
                          {% endif %}
                        {%- endwith %}

                            <form class="form" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                              {{ login_user_form.hidden_tag() }}
                                <b><i class="fas fa-user-circle"></i> Username</b><br>
                              {{ render_field(login_user_form.email, class_="form-control") }}
                                <b><i class="fas fa-key"></i> Password</b><br>
                              {{ render_field(login_user_form.password, class_="form-control") }}
                                <div><a href="/reset"><b>Forgot Password</b></a></div><br>
                                <div style="float:left;padding-right:10px;"><b><i class="far fa-save"></i> Remember Me  </b></div>
                                {{ render_field(login_user_form.remember, class_="form-check-label") }}
                              {{ render_field(login_user_form.submit, class_="form-control") }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}