{% extends "layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - Channels</title>
{% endblock %}

{% block body %}
    <div class="container-fluid justify-content-center" style="width:85%;padding-top:15px;">
        <div class="input-group">
            <div class="input-group-prepend shadow">
                <div class="input-group-text"><i class="fas fa-search"></i></div>
            </div>
            <input type="text" id="search" name="search" class="searchBar form-control shadow" placeholder="Search">
        </div>
    </div>
    <div class="streamList d-flex align-content-around flex-wrap">
    {% for channel in channelList %}
        {% if channel.recordedVideo|length > 0 %}
        <div class="streamcard">
            <a href="/channel/{{channel.id}}/">
                <div class="stream shadow card p-2 streamcard-item">
                    <img class="stream-img card-img-top shadow" src="/images/{{channel.imageLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                    <div class="card-body">
                        <h5 class="card-title text-shadow-close">{{channel.channelName}}</h5>
                        <p class="card-text">
                            <div class="streamcard-IconText"><i class="fas fa-hashtag"></i> </div> <div style="float:left;"> {{channel.topic|get_topicName}}</div> <br>
                            <img src="{{channel.owningUser|get_pictureLocation}}" width="32" height="32"> {{channel.owningUser|get_userName}}
                        </p>
                    </div>
                    <div class="streamcard-footer bg-transparent">
                        <i class="fas fa-users"></i> {{channel.views}}
                    </div>
                </div>

            </a>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
<script>
$('#search').on('input', function(){
    var query = document.getElementById("search").value.toLowerCase();
    $('.streamcard').each(function(){
         var $this = $(this);
         if($this.text().toLowerCase().indexOf(query) === -1)
             $this.closest('.streamcard').hide();
        else $this.closest('.streamcard').show();
    });
});
</script>
{% endblock %}


