{% extends "layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}}</title>
{% endblock %}

{% block body %}
    <div class="container-fluid justify-content-center" style="width:85%;padding-top:15px;">
        <div class="input-group">
            <div class="input-group-prepend shadow">
                <div class="input-group-text"><i class="fas fa-search"></i></div>
            </div>
            <input type="text" id="search" name="search" class="searchBar form-control shadow" placeholder="Search">
        </div>
    </div>
    <div class="streamList d-flex align-content-around flex-wrap">
    {% for stream in streamList %}
        <div class="streamcard">
            <a href="/view/{{stream.channel.channelLoc}}/">
                <div class="stream shadow card p-2 streamcard-item">
                    <img class="stream-img card-img-top shadow" src="/live{% if stream.channel.record == True %}-rec{% endif %}/{{stream.channel.channelLoc}}.png" onerror="this.src='/static/img/video-placeholder.jpg';">

                    <div class="card-body">
                        <h5 class="card-title text-shadow-close">{{stream.streamName}} <span class="badge badge-dark shadow"><img class="blink-image recordDot" src="/static/img/red.png" width="15px" height="15px">Live</span></h5>
                        <p class="card-text">
                            <div class="streamcard-IconText"><i class="fas fa-tv"></i></div> <div style="float:left;"> {{stream.channel.channelName}}</div> <br>
                            <div class="streamcard-IconText"><i class="fas fa-hashtag"></i> </div> <div style="float:left;"> {{stream.topic|get_topicName}}</div> <br>
                            <img src="{{stream.channel.owningUser|get_pictureLocation}}" width="32" height="32"> {{stream.channel.owningUser|get_userName}}
                        </p>
                    </div>
                    <div class="streamcard-footer bg-transparent" style="position:relative;top:-25px;">
                        <div class="float-left"><i class="fas fa-users"></i> {{stream.totalViewers}}</div>
                        <div class="float-left" style="position:relative;left:20px;"><i id="upVoteIcon" class="far fa-thumbs-up"></i> {{stream.id|get_Stream_Upvotes}}</div>
                        <div class="float-right"><i class="fas fa-eye"></i> {{stream.currentViewers}}</div>
                    </div>
                </div>

            </a>
        </div>
    {% endfor %}
    </div>
    {% if streamList == [] %}
        <br><br>
        <div class="container-fluid justify-content-center" style="width:85%">
            <div class="jumbotron shadow">
                <div class="row">
                    <div class="col-1 no-stream-jumbo">
                        <div style="font-size: 3em;padding-right:60px;"><i class="fas fa-video-slash"></i></div>
                    </div>
                    <div class="col-md-11 col-sm-12">
                        <div class="viewerText" style="text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);"><h1 class="display-4">No Current Live Streams</h1></div>
                        <p class="lead">Try Viewing Some of the Previously Recorded Videos Below:</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="streamList d-flex align-content-around flex-wrap">
        {% for video in randomRecorded %}
            <div class="streamcard flip-in-ver-right" id="video_{{video.id}}">
              <a href="/play/{{video.id}}">
                  <div class="stream shadow card p-2 streamcard-item">
                    <img class="stream-img card-img-top shadow" src="/videos/{{video.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                    <div class="card-body">
                        <h5 class="card-title text-shadow-close">{{video.channelName}}</h5>
                        <p class="card-text">
                            <i class="fas fa-tv"></i> <b>{{video.channel.channelName}}</b> <br>
                            <i class="fas fa-hashtag"></i> <b>{{video.topic|get_topicName}}</b> <br>
                            <i class="fas fa-calendar-alt"></i> <b>{{video.videoDate|normalize_date}}</b> <br>
                        </p>
                    </div>
                    <div class="streamcard-footer bg-transparent">
                        <div class="float-left"><i class="fas fa-users"></i> {{video.views}}</div>
                        <div class="float-left" style="position:relative;left:20px;"><i id="upVoteIcon" class="far fa-thumbs-up"></i> {{video.id|get_Video_Upvotes}}</div>
                        <div class="float-right"><i class="fas fa-clock"></i> {{video.length|hms_format}}</div>
                    </div>
                </div>
              </a>
            </div>
        {% endfor %}
        </div>

    {% endif %}
{% endblock %}

{% block scripts %}
<script>
$('#search').on('input', function(){
    var query = document.getElementById("search").value.toLowerCase();
    $('.streamcard').each(function(){
         var $this = $(this);
         if($this.text().toLowerCase().indexOf(query) === -1)
             $this.closest('.streamcard').hide();
        else $this.closest('.streamcard').show();
    });
});
</script>
{% endblock %}

