{% extends "layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - Streamers</title>
{% endblock %}

{% block body %}
    <div class="container-fluid justify-content-center" style="width:85%;padding-top:15px;">
        <div class="input-group">
            <div class="input-group-prepend shadow">
                <div class="input-group-text"><i class="fas fa-search"></i></div>
            </div>
            <input type="text" id="search" name="search" class="searchBar form-control shadow" placeholder="Search">
        </div>
    </div>
    <div class="streamList d-flex align-content-around flex-wrap">
    {% for streamer in streamerList %}
        <div class="streamcard">
            <a href="/streamers/{{streamer.id}}/">
                <div class="stream shadow card p-2 streamercard-item">
                    <img class="streamer-img card-img-top shadow" src="/images/{{streamer.pictureLocation}}" onerror="this.src='/static/img/user2.png';">
                    <div class="card-body">
                        <h5 class="card-title text-shadow-close">{{streamer.username}}</h5>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
<script>
$('#search').on('input', function(){
    var query = document.getElementById("search").value.toLowerCase();
    $('.streamcard').each(function(){
         var $this = $(this);
         if($this.text().toLowerCase().indexOf(query) === -1)
             $this.closest('.streamcard').hide();
        else $this.closest('.streamcard').show();
    });
});
</script>
{% endblock %}


